// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list {
	text-align: center;
	line-height: 120%;
}

.form {
	margin-right: auto;
	margin-left: 25%;
	margin-bottom: 8px;
}

.form table {
	table-layout: fixed;
	word-break: break-all; 
}

.form tr > td {
	height: 29px;
}

.form .submit {
	margin-right: 12px;
}

h2.log{
	position: relative;
	left: 25%;
	text-decoration: underline;
	margin-bottom: 17px; 
}

h2.reg{
	position: relative;
	left: 25%;
	text-decoration: underline; 
	margin-bottom: 17px; 
}

.notice {
	width: 200px;
	font-weight: bold;
	font-size: 8pt;
	color: red;
	text-align: left;
}


.textfield {
    width: 150px;
    padding-right: 5px;
}

.textfield_error {
	width: 139px;
    padding-right: 5px;
	background-image: url('red_warning.png');
	background-position: 98%, 50%;
	background-repeat: no-repeat;
	background-color: #ffb9b9;
	padding-right: 10%;
}